<%= form_with model: book do |form| %>

  <div>著作名
    <%= form.text_field :title %><br>
    <% book.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>著者
    <%= form.text_field :author %><br>
    <% book.errors.full_messages_for(:author).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>読了
    <%= form.check_box :completed, {checked: true}, true, false %><br>
    <% book.errors.full_messages_for(:completed).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>送信
    <%= form.submit %>
  </div>

<% end %>